.dropdown_label {
  color: #9aa0a6;
  padding: 0 1em;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
}

.dropDown_container {
  z-index: 99;
  position: absolute;
  right: 0.75em;
  top: calc(100% + 0.25em);
  width: 120px;
  overflow-x: auto;
  /* max-height: 200px; */
  overflow-y: auto;
  background-color: #202421;
  border-radius: 4px;
  color: rgb(189, 193, 198);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropDown_list {
  width: 100%;
  border-radius: inherit;
  list-style-type: none;
}

.dropDown_list_item {
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  padding: 0.85em 1.15em;
  font-size: 0.875rem;
}

.dropDown_list_item:hover {
  background-color: #333;
}

.dropDown_list_item:first-child {
  border-radius: 4px 4px 0 0;
}

.dropDown_list_item:not(:last-child) {
  border-bottom: 1px solid #333;
}

.dropDown_list_item:last-child {
  border-radius: 0 0 4px 4px;
}
