* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: #202124;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #4f5256;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  background-color: #202124;
  color: rgb(189, 193, 198);
}

input[type="text"] {
  border: 1px solid #5f6368;
  border-radius: 2px;
  color: #bdc1c6;
  padding: 0.65em;
  background: transparent;
  font-size: 0.925rem;
  outline: #bdc1c6;
}

.katex-display {
  text-align: left;
}

.katex-display > .katex {
  text-align: left;
}

.submit_button {
  padding: 0.85em;
  width: 100px;
  background: #585d63;
  border: 1px solid #585d63;
  border-radius: 4px;
  color: #bdc1c6;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.925rem;
  transition: background 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

.submit_button:hover {
  background: #4c5056;
}

@media only screen and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}
