.order_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.plus_minus_icon {
  opacity: 1;
  pointer-events: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  outline: none;
  border: 1px solid var(--secondary-accent-color);
  color: var(--primary-text-color);
  background: var(--secondary-accent-color);
  border-radius: 2.5px;
  font-size: 0.725rem;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px -2px var(--box-shadow-color);
  transition: background 0.25ms cubic-bezier(0.19, 1, 0.22, 1);
}

.plus_minus_icon:hover {
  background: var(--primary-accent-hover-color);
}

.plus_minus_icon_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.plus_minus_icon_modified {
  width: 25px;
  height: 25px;
}

.order_input {
  height: 30px;
  width: 35px;
  text-align: center;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid var(--accent-color) !important;
}

.order_input_modified {
  width: 30px;
  height: 25px;
}
