.section {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: flex-start;
}

.order_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
  color: #9aa0a6;
}

.matrix_container {
  position: relative;
  display: flex;
  height: 100%;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}

.declare {
  margin-left: -5em;
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.matrix_wrapper {
  padding: 0.45em 0.75em;
  border-left: 1px solid #bdc1c6;
  border-right: 1px solid #bdc1c6;
}

.matrix_wrapper_error {
  border-left: 1px solid #b43a4e;
  border-right: 1px solid #b43a4e;
}

.types_wrapper {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  align-items: center;
}

.input_error {
  position: absolute;
  bottom: 9.5em;
  color: #b43a4e;
}

.matrix_input {
  width: 60px;
  padding: 0.5em !important;
  font-size: 1.25rem !important;
  text-align: center;
  border: none !important;
}

.matrix_input_error {
  color: #b43a4e !important;
}

.matrix_input:focus {
  border-bottom: 1px solid #bdc1c6 !important;
}

.button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0em;
}

.btn {
  padding: 0.75em 0.25em;
  width: 100px;
  background: #4c5056;
  border-color: #4c5056;
}

.btn:last-child {
  background: transparent;
}

.btn:hover {
  background: #585d63;
}

.operations_wrapper {
  display: flex;
  gap: 0.25em;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
}

.page_solution {
  min-height: 100svh;
  display: none;
  margin: 0 auto;
  padding: 3em 0;
  width: 80%;
  max-width: 1000px;
  border-bottom: 1px solid #5f6368;
}

.operation_container {
  min-height: calc(100vh - 6em);
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.operation_col {
  flex: 0.5;
}

.operation_col_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5em;
}

.operation_col:first-child {
  border-right: 1px solid #5f6368;
  align-items: flex-start;
}

.sub_title {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 1em;
  font-size: 1.05rem;
}

.eigen_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}

.eigen_child_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.05rem;
}

.matrix_display {
  margin: auto;
  font-size: 1.05rem;
}

.matrix_equation {
  padding: 2em 0;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.page_calculation {
  display: none;
  padding: 3em 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  border-bottom: 1px solid #5f6368;
}

.loading_wrapper,
.error_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.matrix_page_modified {
  flex-direction: row !important;
}

@media only screen and (max-width: 1024px) {
  .page_container,
  .page_calculation,
  .page_solution {
    padding-left: 0.25em;
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .matrix_page_modified {
    flex-direction: column !important;
  }
  .numpad_outer_wrapper {
    display: none;
  }
  .section {
    flex: 0.3 0.7;
    gap: 3em;
  }
  .matrix_container {
    gap: 1em;
    padding: 1em 0;
    position: unset;
    overflow-x: auto;
  }
  .declare {
    gap: 1em;
  }
  .input_error {
    bottom: 6.5em;
    left: 26%;
  }
  .button_wrapper {
    bottom: 2em;
  }
  .operations_wrapper {
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
  }
  .matrix_input {
    width: 45px;
    padding: 0;
  }
  .operation_container {
    min-height: calc(100vh - 6em);
    align-items: unset;
    flex-direction: column;
  }
  .operation_col {
    flex: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    overflow-x: hidden;
  }
  .matrix_display {
    margin: 0 auto;
    font-size: 1.15rem;
    overflow-x: auto;
  }
  .operation_col:last-child {
    flex: 1;
    order: 0;
    border-bottom: 1px solid #5f6368;
  }
  .operation_col_wrapper {
    flex-direction: column;
    gap: 3em;
  }
  .operation_col_container {
    width: 100%;
  }
  .operation_col:first-child {
    border-right: unset;
  }
  .eigen_child_wrapper {
    font-size: 1.15rem;
    overflow-x: auto;
  }
  .page_calculation .matrix_equation {
    flex-direction: column;
    font-size: 1.15rem;
  }
  .matrix_equation {
    overflow-x: auto;
  }
  .types_container {
    margin-top: -1em;
  }
}
