.page_container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 7.5em 0 0;
  width: 80%;
  max-width: 1000px;
  display: flex;
  gap: 3em;
  border-bottom: 1px solid #5f6368;
}

.section {
  flex: 0.5;
  display: flex;
  gap: 5em;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 2em;
}

.order_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.order_container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.plus_minus_icon {
  opacity: 1;
  pointer-events: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  outline: none;
  border: 1px solid #34373b;
  color: #bdc1c6;
  background: #34373b;
  border-radius: 2.5px;
  font-size: 0.725rem;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px -2px rgba(64, 68, 72, 1);
  transition: background 0.25ms cubic-bezier(0.19, 1, 0.22, 1);
}

.plus_minus_icon:hover {
  background: #4c5056;
}

.plus_minus_icon_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.order_input {
  height: 30px;
  width: 35px;
  text-align: center;
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid #5f6368 !important;
}

.matrix_container {
  margin-top: -1em;
  position: relative;
  padding-bottom: 2.5em;
  display: flex;
  height: 100%;
  gap: 1.5em;
  align-items: center;
  justify-content: center;
}

.declare {
  margin-left: -5em;
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.matrix_wrapper {
  padding: 0.45em 0.75em;
  border-left: 1px solid #bdc1c6;
  border-right: 1px solid #bdc1c6;
}

.matrix_input {
  width: 60px;
  padding: 0.5em !important;
  font-size: 1.25rem !important;
  text-align: center;
  border: none !important;
}

.matrix_input:focus {
  border-bottom: 1px solid #bdc1c6 !important;
}

.button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 5em;
}

.btn {
  padding: 0.75em 0.25em;
  width: 100px;
  background: #4c5056;
  border-color: #4c5056;
}

.btn:last-child {
  background: transparent;
}

.btn:hover {
  background: #585d63;
}

.operation {
  font-size: 0.875rem;
  pointer-events: initial;
  width: 50px;
  height: 50px;
  border: 1px solid #34373b;
  color: #bdc1c6;
  background: #34373b;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px -2px rgba(64, 68, 72, 1);
}

.operation_modified {
  width: 104px;
  flex-wrap: wrap;
}

.operation:hover {
  background-color: #404448;
}

.operation_disabled {
  pointer-events: none;
  opacity: 0.5;
}

.operations_wrapper {
  display: flex;
  gap: 0.25em;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
}

.page_solution {
  display: none;
  padding: 3em 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  border-bottom: 1px solid #5f6368;
}

.operation_container {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.operation_col {
  flex: 0.5;
}

.operation_col_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5em;
}

.operation_col:first-child {
  border-right: 1px solid #5f6368;
  align-items: flex-start;
}

.sub_title {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 1em;
  font-size: 1.05rem;
}

.eigen_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}

.eigen_child_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.05rem;
}

.matrix_display {
  margin: auto;
  font-size: 1.05rem;
}

.matrix_equation {
  padding: 2em 0;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.page_calculation {
  display: none;
  padding: 3em 0;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  border-bottom: 1px solid #5f6368;
}

.loading_wrapper,
.error_wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .page_container,
  .page_calculation,
  .page_solution {
    padding-left: 0.25em;
    width: 90%;
  }
}
