.numpad_container {
  display: flex;
  gap: 0.25em;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 250px;
}

.numpad {
  font-size: 0.875rem;
  pointer-events: initial;
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-accent-color);
  color: var(--primary-text-color);
  background: var(--secondary-accent-color);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px -2px var(--box-shadow-color);
}

.numpad:hover {
  background-color: var(--secondary-accent-hover-color);
}
