.shapeContainer {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 7.5em 0 0;
  width: 80%;
  max-width: 1000px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.shapeHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shapeTitle {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 0.25em;
}

.shapeDropdown {
  color: #9aa0a6;
  padding: 0 1em;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
}

.dropDownContainer {
  z-index: 99;
  position: absolute;
  right: 0.75em;
  top: calc(100% + 0.25em);
  width: 120px;
  overflow-x: auto;
  /* max-height: 200px; */
  overflow-y: auto;
  background-color: #202421;
  border-radius: 4px;
  color: rgb(189, 193, 198);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropDownList {
  width: 100%;
  border-radius: inherit;
  list-style-type: none;
}

.dropDownListItem {
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  padding: 0.85em 1.15em;
  font-size: 0.875rem;
}

.dropDownListItem:hover {
  background-color: #333;
}

.dropDownListItem:first-child {
  border-radius: 4px 4px 0 0;
}

.dropDownListItem:not(:last-child) {
  border-bottom: 1px solid #333;
}

.dropDownListItem:last-child {
  border-radius: 0 0 4px 4px;
}

.shapeContent {
  width: 100%;
  display: flex;
}

.shapeFormula {
  width: 100%;
  overflow-x: auto;
  padding-top: 1em;
}

.shapeInputContainer {
  width: 50%;
}

.shapeImg {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variableContainer {
  padding: 1em 0;
  display: flex;
  align-items: center;
}

.variableDetail {
  width: 180px;
  display: flex;
  height: 35px;
  align-items: center;
  gap: 1em;
}

.variable {
  width: 30px;
  font-weight: 500;
}

.variableName {
  padding-top: 0.35em;
  text-transform: capitalize;
}

.shapeSubmitContainer {
  position: absolute;
  bottom: 4em;
}

.shapeButton {
  padding: 0.85em;
  width: 100px;
  background: #5f6368;
  border: 1px solid #5f6368;
  border-radius: 4px;
  color: #bdc1c6;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.925rem;
  transition: background 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

.shapeButton:hover {
  background: transparent;
}

.solutionContainer {
  border-top: 1px solid #5f6368;
  margin: 0 auto;
  padding: 3em 0;
  width: 80%;
  max-width: 1000px;
}

.solutionTitle {
  color: #9aa0a6;
  padding-bottom: 1em;
  font-weight: 500;
  font-size: 1.25rem;
}

.solutionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  gap: 1.5em;
}

@media only screen and (max-width: 1024px) {
  .shapeInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shapeContainer {
    padding: 7.5em 2em 2em;
    width: 100%;
  }
  .variableContainer {
    padding: 0.5em 0;
  }
  .variableDetail {
    width: 130px;
  }
  .solutionContainer {
    padding: 3em 2em;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .shapeInputContainer {
    width: 100%;
  }
  .variableDetail {
    gap: 0.5em;
  }
  .shapeImg {
    display: none;
  }
}
