.shape_container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 7.5em 0 0;
  width: 80%;
  max-width: 1000px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 0.25em;
}

.formula {
  width: 100%;
  overflow-x: auto;
  padding-top: 1em;
}

.content {
  width: 100%;
  display: flex;
}

.input_container {
  width: 50%;
}

.figure {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_container {
  position: absolute;
  bottom: 4em;
}

.solution_container {
  display: none;
  border-top: 1px solid #5f6368;
  margin: 0 auto;
  padding: 3em 0;
  width: 80%;
  max-width: 1000px;
}

.solution_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  gap: 1.5em;
}

@media only screen and (max-width: 1024px) {
  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shape_container {
    padding: 7.5em 2em 2em;
    width: 100%;
  }
  .solution_container {
    padding: 3em 2em;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .input_container {
    width: 100%;
  }
  .figure {
    display: none;
  }
}
