.shape_container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  padding: 7.5em 0 0;
  width: 80%;
  max-width: 1000px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #9aa0a6;
  text-transform: capitalize;
  font-weight: 500;
  padding-bottom: 0.25em;
}

.dropdown_label {
  color: #9aa0a6;
  padding: 0 1em;
  cursor: pointer;
  text-transform: capitalize;
  display: inline-flex;
  gap: 0.25em;
  align-items: center;
}

.dropDown_container {
  z-index: 99;
  position: absolute;
  right: 0.75em;
  top: calc(100% + 0.25em);
  width: 120px;
  overflow-x: auto;
  /* max-height: 200px; */
  overflow-y: auto;
  background-color: #202421;
  border-radius: 4px;
  color: rgb(189, 193, 198);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropDown_list {
  width: 100%;
  border-radius: inherit;
  list-style-type: none;
}

.dropDown_list_item {
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  padding: 0.85em 1.15em;
  font-size: 0.875rem;
}

.dropDown_list_item:hover {
  background-color: #333;
}

.dropDown_list_item:first-child {
  border-radius: 4px 4px 0 0;
}

.dropDown_list_item:not(:last-child) {
  border-bottom: 1px solid #333;
}

.dropDown_list_item:last-child {
  border-radius: 0 0 4px 4px;
}

.formula {
  width: 100%;
  overflow-x: auto;
  padding-top: 1em;
}

.content {
  width: 100%;
  display: flex;
}

.input_container {
  width: 50%;
}

.figure {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_container {
  position: absolute;
  bottom: 4em;
}

.solution_container {
  display: none;
  border-top: 1px solid #5f6368;
  margin: 0 auto;
  padding: 3em 0;
  width: 80%;
  max-width: 1000px;
}

.solution_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  gap: 1.5em;
}

@media only screen and (max-width: 1024px) {
  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .shape_container {
    padding: 7.5em 2em 2em;
    width: 100%;
  }
  .solution_container {
    padding: 3em 2em;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .input_container {
    width: 100%;
  }
  .figure {
    display: none;
  }
}
